:root {
  --primary-band: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --sudtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: grey;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

/**-----------P A G E    1----------------**/

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: var(--text);
  background-color: var(--white-background);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1158px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
/**--------navigator-------**/
.header {
  display: block;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}
.upper-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-band);
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
}

.up-logo-grey {
  color: var(--dark);
}
.open-mob-menu-btn {
}
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.navigation-menu-list {
  display: none;
}
.upper-address-list {
  display: none;
}
.link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
  color: var(--pressed-state);
}
.link:focus {
  color: var(--pressed-state);
}
.open-mob-menu-btn {
  border: none;
  background-color: transparent;
  padding: 24px 0;
  margin-left: auto;
}
.mob-menu-icon {
  stroke: rgba(46, 47, 66, 1);
}
.mob-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-background);
  top: 0;
  z-index: 2;
  padding: 24px 24px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.close-mob-menu-btn {
  display: flex;
  margin-left: auto;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(244, 244, 253, 1);
  background: transparent;
  margin-bottom: 32px;
}
.mob-close-menu-icon {
  fill: rgba(46, 47, 66, 1);
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-menu-item {
  font-size: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.mob-menu-item-active {
  color: var(--pressed-state);
}
.mob-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mob-menu-mail-link {
  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text);
}

.mob-menu-tel-link {
  font-size: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-band);
}

.mob-menu-soc-icon-list {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 34px;
  margin-top: 48px;
}
.mob-menu-soc-icon-item {
  width: 40px;
  height: 40px;
  background-color: var(--primary-band);
  border-radius: 50%;
}
.mob-menu-soc-icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-band);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.mob-menu-soc-icon-svg {
  display: block;
  margin: 8px;
  background-color: none;
  fill: var(--light);
}

/**-------------hero-------------**/

.hero {
  display: block;
  background-color: var(--dark);
  margin: 0 auto;
  max-width: 1440px;
  padding-bottom: 112px;
  padding-top: 112px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mod-2x.jpg);
  }
}
.hero-container {
  display: block;
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.72px;
  color: var(--white-background);
  display: block;
  align-items: center;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.hero-btn {
  display: block;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  cursor: pointer;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover {
  background-color: var(--pressed-state);
}
.hero-btn:focus {
  background-color: var(--pressed-state);
}

/**-------------section info--------------**/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-info {
  display: block;
  padding-top: 96px;
  padding-bottom: 96px;
}
.container-info {
  display: block;
}
.info-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.info-item {
  width: 100%;
}
.info-subtitle {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.info-text {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.info-subtitle {
  display: block;
  margin-bottom: 8px;
}

.section-info-icon {
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--light);
  border-radius: 4px;
  margin-bottom: 8px;
}
/**-------------section works-----------**/
.container-works {
  display: none;
}

/**---------------section team--------------**/

.team {
  background-color: var(--light);
}
.team {
  padding: 96px 0;
}
.team-item {
  display: block;
  background-color: var(--white-background);
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.container-team {
  display: block;
}
.container-team-subtitle-text {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark);
  display: block;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  align-items: center;
  justify-content: center;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--dark);
  display: block;
  margin-bottom: 8px;
  justify-content: center;
}
.team-text {
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.team-icon-item {
  width: 40px;
  height: 40px;
  background-color: var(--primary-band);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-link:hover {
  background-color: var(--pressed-state);
}
.team-icon-link:focus {
  background-color: var(--pressed-state);
}
.team-icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-band);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-svg {
  display: block;
  margin: 12px;
  background-color: none;
  fill: var(--light);
}
/**-----------section customers--------**/
.customers {
  display: block;
  padding: 96px 0;
}
.container-customers {
  display: block;
}
.customers-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
}
.customers-item {
  width: calc((100%- 16px) / 2);
  height: 88px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-item-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: var(--sudtle-text);
  border: 1px solid var(--sudtle-text);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-item-icon {
  display: block;
  fill: currentColor;
  margin: 16px 32px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-item-link:hover {
  border-color: var(--pressed-state);
}
.customers-item-link:focus {
  border-color: var(--pressed-state);
}
.customers-item-link:hover .customers-item-icon {
  fill: var(--pressed-state);
}

/**-------------footer---------------**/

.footer {
  display: block;
  background-color: var(--modal-overlay);
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer-container {
  display: block;
}

.main-footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  margin-bottom: 72px;
  justify-content: center;
}

.link {
  text-decoration: none;
}
.footer-logo {
  display: flex;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-band);
  justify-content: center;
}
.lower-logo-light {
  color: var(--light);
}
.footer-text {
  display: block;
  max-width: 264px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: var(--light);
  margin: 0 auto;
}
.footer-soc-container {
  display: block;
  width: 208px;
  height: 80px;
  margin: 0 auto;
}
.footer-soc-text {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-bottom: 16px;
  text-align: center;
}
.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-soc-item {
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--primary-band);
  border-radius: 50%;
}
.footer-soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-band);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-svg {
  display: block;
  background-color: none;
  fill: var(--light);
  margin: 8px;
}
.footer-soc-link:hover {
  background-color: var(--success);
}
.footer-soc-link:focus {
  background-color: var(--success);
}
.subscribe-title {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-subscribe-input {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
}
.footer-subscribe-input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--primary-band);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background: var(--pressed-state);
}

.footer-subscribe-form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.subscribe-btn-icon {
  fill: #ffffff;
  margin-left: 16px;
}

.form-sudscribe-case {
  display: flex;
  gap: 24px;
}
/**----------modal-----------**/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {
  position: absolute;
  width: 320px;
  min-height: 584px;
  background-color: var(--modal-background);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  padding: 72px 16px 24px 16px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-btn:hover {
  background-color: var(--pressed-state);
  border: none;
}
.modal-btn:focus {
  background-color: var(--pressed-state);
  border: none;
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover .modal-btn-icon {
  fill: #ffffff;
}
.modal-btn:focus .modal-btn-icon {
  fill: #ffffff;
}
.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 16px;
  max-width: 360px;
}

.form-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field {
  margin-bottom: 8px;
}
.input-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  fill: var(--dark);
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover {
  border-color: var(--primary-band);
}
.form-input:hover + .input-icon {
  fill: var(--primary-band);
}
.form-input:focus {
  border-color: var(--primary-band);
}
.form-input:focus + .input-icon {
  fill: var(--primary-band);
}
.form-label {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--sudtle-text);
  margin-bottom: 4px;
}
.modal-field-comment {
  margin-bottom: 16px;
}
.modal-textarea {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
}
.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--primary-band);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
}

.btn-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  background: var(--primary-band);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-submit:hover,
.btn-submit:focus {
  background: var(--pressed-state);
}
.modal-field-checkbox {
  margin-bottom: 24px;
}
.form-checkbox {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--sudtle-text);
  background-color: transparent;
}
.checkbox-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--primary-band);
}
.span-privacy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-checkbox:checked + .form-checkbox span {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light);
}

/**-----------P A G E    2---------------**/

/**--------section potfolio menu--------**/
.container-portfolio {
  display: block;
  width: 100%;
}
.section-portfolio {
  display: block;
  padding-top: 48px;
  padding-bottom: 48px;
}
.portfolio-list-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  gap: 24px;
}

.portfolio-btn {
  display: block;
  background-color: var(--light);
  color: var(--primary-band);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--accent);
  border-radius: 4px;
  order: 2;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover {
  background-color: var(--pressed-state);
  color: var(--white-background);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-btn:focus {
  background-color: var(--pressed-state);
  color: var(--white-background);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/**------------portfolio----------**/

.portfolio-container-subtitle-text {
  display: block;
  border-left: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  padding: 32px 16px;
  margin-bottom: 8px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-img {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  gap: 48px;
}

.portfolio-list-img:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-top: 0;
  padding-left: 16px;
  margin-bottom: 8px;
}
.portfolio-link {
  display: block;
  font-weight: 400;
  letter-spacing: 0.02em;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.portfolio-link:hover .overlay-text {
  transform: translateY(0%);
}
.portfolio-link:focus .overlay-text {
  transform: translateY(0%);
}

.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.portfolio-link:hover .portfolio-text {
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  padding-left: 16px;
}
/**----------overlay-------------**/
.overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
  padding: 40px 32px;
  background-color: var(--primary-band);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }

  .mob-menu-soc-icon-list {
    gap: 56px;
  }
  .mob-menu-tel-link {
    font-size: 36px;
  }
  /**---------info------**/

  .team-list {
    flex-wrap: wrap;
  }
  .main-footer-container {
    flex-direction: column;
  }
  /**--------modal-------**/
  .modal-window {
    width: 392px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .open-mob-menu-btn {
    display: none;
  }
  /**------header-------**/

  .upper-logo {
    margin-right: 120px;
  }

  .navigation-menu-list {
    display: flex;
    font-weight: 500;
    letter-spacing: 0.02em;
    gap: 40px;
  }
  .navigation-menu-list a {
    color: var(--dark);
  }

  .active::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1px;
    height: 4px;
    background-color: var(--pressed-state);
    border-radius: 2px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-menu-link {
    position: relative;
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding: 24px 0;
  }
  .upper-address {
    font-style: normal;
    margin-left: auto;
  }

  .upper-address-list {
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    gap: 12px;
  }

  .upper-address-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--text);
    display: flex;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .upper-address-link a:hover {
    color: var(--pressed-state);
  }
  .upper-address-link a:focus {
    color: var(--pressed-state);
  }
  .upper-address-list a {
    color: var(--text);
  }
  /**-------------hero-------------**/
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
  }
  /**---------info------**/

  .section-info {
    padding-bottom: 120px;
  }
  .info-list {
    gap: 72px 24px;
  }
  .info-item {
    width: calc((100% - 24px) / 2);
  }
  /**--------team--------**/
  .team-list {
    gap: 64px 24px;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
  }
  /**-----------section customers--------**/
  .customers-list {
    gap: 72px 24px;
  }
  .customers-item {
    width: calc((100%- 48px) / 3);
  }

  /**------footer-------**/
  .main-footer-container {
    gap: 72px 24px;
    flex-direction: row;
    justify-content: start;
    padding-left: 120px;
  }
  .footer-logo {
    justify-content: start;
  }
  .footer-soc-container {
    margin: 0;
  }
  .footer-soc-text {
    text-align: start;
  }

  .footer-subscribe-form {
    flex-wrap: nowrap;
    justify-content: start;
  }
  .subscribe-title {
    justify-content: start;
  }
  /**------------portfolio----------**/
  .section-portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }
  .portfolio-list-buttons {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 64px;
  }
  .portfolio-list-img {
    flex-shrink: 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  /**--------modal-------**/
  .modal-window {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .upper-logo {
    margin-right: 76px;
  }
  .upper-address-list {
    flex-direction: row;
    gap: 40px;
  }
  .upper-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /**-------------hero-------------**/
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-pc.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-pc-2x.jpg);
    }
  }
  .hero-title {
    margin-bottom: 48px;
  }

  /**---------info------**/

  .section-info {
    padding-bottom: 120px;
  }
  .info-list {
    gap: 24px;
  }
  .info-item {
    width: calc((100% - 72px) / 4);
  }
  .info-subtitle {
    font-size: 20px;
    line-height: 1.2;
    text-align: start;
  }
  .section-info-icon {
    display: flex;
  }
  /**---------work--------**/
  .works {
    padding-bottom: 120px;
  }
  .container-works {
    display: block;
  }

  .works-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--dark);
    display: block;
    margin-bottom: 72px;
  }
  .works-list {
    display: flex;
    gap: 24px;
  }
  .works-items {
    width: calc((100% - 3 * 16) / 3);
  }
  /**---------team--------**/
  .team {
    padding: 120px 0;
  }
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  /**-----------section customers--------**/
  .customers {
    padding: 120px 0;
  }
  .customers-list {
    gap: 24px;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
  /**-------------footer---------------**/
  .footer {
    padding: 100px 0;
    margin: 0 auto;
  }
  .main-footer-container {
    align-items: baseline;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 0;
    padding-left: 16px;
  }
  .footer-container {
    display: block;
    margin-right: 120px;
    width: 264px;
  }
  .footer-subscribe {
    padding-left: 0;
  }
  .footer-container {
    align-items: baseline;
  }
  .footer-logo {
    display: inline-block;
  }
  .footer-soc-container {
    margin-right: 80px;
  }
  .footer-soc-text {
    text-align: start;
  }
  .footer-subscribe-form {
    flex-wrap: nowrap;
  }
  .subscribe-title {
    justify-content: start;
  }
  /**-----------portfolio--------**/
  .section-portfolio {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .portfolio-list-buttons {
    margin-bottom: 72px;
  }
  .portfolio-list-img {
    gap: 48px 24px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}
